.Customer { 
    background-color: #161b22;
    border-style: solid;
    border-color: rgb(197, 55, 55);
    border-radius: 15px;
    margin: 2em;
    padding: 2rem;
}

.Customer-span{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1em;
}