.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#test{
  display: flex;
  background-color: brown;
  color: aliceblue;
  justify-content: space-around;
  margin: 3rem;
}

.Item {
  height: 30;
  border: 1px solid green;
  margin: 6;
  padding: 8;
};

.InputSearchElement{  
  text-align: center;
  margin: 1em 0 1em 0;
}

.InputSearchInput{ 
  width: 50%;
  margin-left: 25%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #82878b;
  border-radius: .25rem; 
}

.container{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
}

.ResultCounter{
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  margin: 1em;
}